:root {
    --bg: #2e3440;
    --text: #eceff4;
    --accent: #88c0d0;
    --button: #5e81ac;
    --button-hover: #49688d;
    --input: #00000055;
    --input-text: #eceff4;
    --danger: #bf616a;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #22a4f3;
}

a {
    text-decoration: none;
}

/* Game */

.game {
    width: 100%;
    height: 100%;
    min-width: 500px;
    max-width: 1520px;
    margin: 0 auto;
}

.game input {
    background: none !important;
}
